@charset "utf-8";

$primary: hsl(333, 91%, 44%);
$secondary: hsl(30, 41%, 25%);
$neutral: hsl(51, 78%, 96%);
$accent: hsl(87, 48%, 48%);
$facebook: hsl(214, 89%, 52%);
$shopee: #f53d2d;
$lazada: #0F146D;

:root {
  --font-stack: 'NotoSansThai', Noto Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size-base: 1rem;
  --font-color-default: #fdfaed; // #593F25
  --background-color-body: #fff;
  --line-height-body: 1.7;

  --color-primary: #D70A65; 
  --color-secondary: #593F25;
  --color-neutral: hsl(51, 78%, 96%);

  --color-shopee: #f53d2d;
  --color-lazada: #0F146D;
  --color-facebook: #1877f2;

  --box-shadow: 0 4rem 5rem -3rem rgba(14, 7, 1, 0.75);
  --rounded: 0.75rem;
}

// Fonts
@font-face{
  font-family:'NotoSansThai';
  src: url('../../assets/fonts/NotoSansThai/NotoSansThai-Regular.ttf');
  font-weight:normal;
  font-display: swap;
}

@font-face{
  font-family:'NotoSansThai';
  src: url('../../assets/fonts/NotoSansThai/NotoSansThai-Bold.ttf');
  font-weight:700;
  font-display: swap;
}

// Base
body {
  font-family: var(--font-stack);
  font-size: 1rem;
  line-height: 1.7;
  color: var(--font-color-default);
  background-color: var(--background-color-body); // Fallback for when there is no custom background color defined.
}

// Typography
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

.heading {
  margin-bottom: 20px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: lighten($primary, 15);
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.hero {

  img {
    border-radius: var(--rounded);
  }
}

.feature {

  &__img {
    img {
      border-radius: var(--rounded);
    }
  }

  &__content {
    h2 {
      color: var(--color-primary);
      
      span {
        color: var(--color-neutral);
      }
    }
  }
  
  &__list {
    
    & &-item {
      display: flex;
      border: none;
      padding: 0.425rem 0;
      background-color: transparent;

      i {
        background: #ed9abf;
        color: #D70A65;
        font-weight: 700;
        height: 22px;
        width: 22px;
        line-height: 23px;
        text-align: center;
        border-radius: 50%;
        margin-right: 10px !important;
        font-size: 11px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}

.product {
  color: var(--color-secondary);

  .card {
    
    border: none;
    border-radius: calc(0.75rem - 1px);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

    .card-img-top {
      border-top-left-radius: calc(0.75rem - 1px);
      border-top-right-radius: calc(0.75rem - 1px);
    }

    .card-body {
      .sale {
        color: var(--color-primary);
      }
    }
  }
}

.testimonials {

  .testimonial {
    padding: 0 2.5rem 4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media screen and (max-width: 63em) {
      flex-direction: column;
      padding: 0;
    }
    
    &__img {
      flex: 0 1 48.65%;
      
      @media screen and (max-width: 40em) {
      width: 80%;
      }
    }
  
    &__photo {
      width: 100%;
      border-radius: 0.8rem;
      box-shadow: var(--box-shadow);
    }
  
    &__text {
      text-align: center;
      flex: 0 1 57.2%;
      // margin-right: -5.8%;
      padding: 25px;
      position: relative;
      z-index: 1;
  
      @media screen and (max-width: 63em) {
        flex: initial;
        margin-top: 6rem;
        padding: 0;
        order: 1;
      }
  
      @media screen and (max-width: 40em) {
        margin-top: 4rem;
      }
    }
  
    &__quotation-marks {
      position: absolute;
      top: -3.5rem;
      left: 6rem;
  
      
      @media screen and (max-width: 63em) {
        left: 50%;
        transform: translateX(-50%);
      }
  
      @media screen and (max-width: 40em) {
        width: 4rem;
        top: -2rem;
      }
    }
  
    &__quote {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.375;
  
      
      @media screen and (max-width: 75em) {
        font-size: 1.75rem;
      }
  
      @media screen and (max-width: 40em) {
        font-size: 1.125rem;
      }
    }
  
    &__cite {
      font-size: 1.25rem;
  
      @media screen and (max-width: 75em) {
        font-size: 1rem;
      }
  
      @media screen and (max-width: 63em) {
        font-size: 1.25rem;
      }
  
      @media screen and (max-width: 40em) {
        font-size: 0.875rem;
      }
  
      &--name {
        font-weight: 700;
        margin-right: 0.5rem;
  
        @media screen and (max-width: 75em) {
          margin-right: 0;
          display: block;
        }
      }
  
      &--role {
        color: var(--color-primary);
      }
    }
  }
}

.footer {

  &__top {
    color: var(--color-secondary);
    padding: 40px 0px;
    background-color: #f8f1e7;
    background-image: url(/assets/images/bg-image-need-help.jpg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;

  }

  &__bottom {
    background-color: #8f745a;
    padding: 1rem 0px;
  }

  &__copyright {
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
  }
}

.bg-facebook {
  background: var(--color-facebook);
}

.bg-shopee {
  background: var(--color-shopee);
  background: linear-gradient(-180deg,#f53d2d,#f63);
}

.bg-lazada {
  background: var(--color-lazada);
}

.wave {
  position: relative;
  z-index: 1;

  &__top {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: auto;
  }

  &__bottom {
    position: absolute;
    top: -1px;
    width: 100%;
    height: auto;
  }
}

.section-top {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  background-color: #2e2926;
  background-image: url(../images/bg-image-top.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-middle {
  position: relative;
  background-color: var(--color-neutral);
}

.section-bottom {
  position: relative;
  background-color: #5f4230;
  background-image: url(../images/bg-image-bottom.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-top {
  padding-top: 24px;
  

  @media screen and (min-width: 64em) {
    padding-top: 48px;
    padding-bottom: 96px; 
  }
}

.section-middle {
  padding-top: 24px;
  

  @media screen and (min-width: 64em) {
    padding-top: 48px;
  }
}

.section-bottom {
  padding-top: 64px;

  @media screen and (min-width: 64em) {
    padding-top: 140px;
    
  }
}

.section-space {
  padding-bottom: 24px;

  @media screen and (min-width: 64em) {
    padding-bottom: 48px;
  }
}

.rounded {
  border-radius: var(--rounded)!important;
}

.video-container {
  position: relative;
  padding-bottom: 66.66%; /* 3:2 Aspect Ratio (divide 2 by 3 = 0.6666)  */ 
  height: 0; 
  overflow: hidden;
  border-radius: 0.75rem;
  margin-bottom: 24px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


